.dropdown-toggle .btn .btn-primary:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-primary:focus, .btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus,
.btn-primary:focus, .btn-primary.focus,
.btn:focus, .btn.focus,
.btn-check:focus+.btn-primary, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

.dropdown-toggle::after{
    content: "\f0c1" !important;
    font-size: 18px;
  }
  
  .dropdown-toggle{
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .dropdown-toggle:focus{
    background-color: transparent !important;
    border-color: transparent !important;
  }