.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button:disabled,
button:disabled:hover {
  background-color: grey !important;
}

.create-listt {
  display: inline-block;
  background-color: transparent;
  color: #000;
  /* z-index: 2; */
  padding: 5px 40px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: bold;
  border: "1px solid #000";
  font-weight: 800;
  letter-spacing: normal;
  outline: 0;
  /* transition: all 0.3s ease-in-out; */
}

.create-listt:hover {
  padding: 8px 40px;
  border: none;
  background-color: #37c3ff;
  color: white;
}

.dropdown-menu.show {
  display: block;
  padding-left: 10px;
}

.search-input input:focus {
  border: none !important;
  outline: none !important;

}
